<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
</head>

<body>
    <div class="main-content">
        {{> header}}
    <img class="portrait" src="/img/me.jpg" alt="">
    <p>Created by {{ name }}</p>
    </div>
    {{> footer }}
</body>

</html>