<!DOCTYPE html>

<html>

<head>

</head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
    
    
<body>
    <div class="main-content">
        {{> header}}
        <p>Text</p>
       
        <form action="">
            <input type="text" name="" id="">
            <button>Search</button>
        </form>

        <p id="message-one"></p>
        <p id="message-two"></p>

    </div>
    
    {{> footer}}

    <script src="/js/app.js"></script>
</body>

</html>